.App {
  text-align: center;
  background-color: whitesmoke;
}

.login-container {
  
}

.login-form {
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  border: 1px solid blueviolet;
}


.home-header {
  background: rgb(159, 96, 218);
  background-image: linear-gradient(180deg, rgb(66, 26, 104), rgb(159, 96, 218));
  padding: 0;
  margin: 0;
  height: 175px;
  padding: 2px;
}

.home-logo{
  /* position: absolute;
  top: 0;
  left: 0; */
  border-radius: 50%;
  height: 175px;
}

