.App {
  text-align: center;
  background-color: whitesmoke;
}

.login-form {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border: 1px solid blueviolet;
}


.home-header {
  background: rgb(159, 96, 218);
  padding: 0;
  margin: 0;
  height: 200px;
  padding: 2px;
}

.home-logo{
  /* position: absolute;
  top: 0;
  left: 0; */
  border-radius: 50%;
}

