.pic-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid lightslategray; */
    border-radius: 5px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 50px;
}

.pic-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 500px;
    border: 1px solid lightslategray;
}


.pic-card-img:hover {
    transform: scale(1.1) rotate(5deg);
    transition: 2s;
    cursor: pointer;
    /* box-shadow: 5px 5px 5px rgb(159, 96, 218);   */
    box-shadow: 5px 5px 5px #00A36C;  
}


.item-title{
    font-size: 1em;
}

.pic-card-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;  
}