.item-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 70px;
}


.selected-img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
    padding: 10px;
    gap: 20px;
    /* border: 1px solid grey; */
}

.overflow-container {
    overflow-x: scroll;
    overflow-y: scroll;
    width: 400px;
    height: 400px;
    border: 1px solid grey;
    position: relative;
}

.overflow-container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.overflow-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.show-img {
    width: 400px;
    height: 400px;
    transition: 0.5s;

}

.show-img:hover{
    transform: scale(2.5);
    transform-origin: 0 0;
}

.selected-img {
    width: 75px;
    height: 75px;
}

.selected-img:hover {
    cursor: pointer;
}

.isSelected-img{
    width: 75px;
    height: 75px;
    border: 1px solid blue;
}

.isSelected-img:hover {
    cursor: pointer;
}

.desc-box {
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    position: relative;
    right: -5%;
}

.desc-box > p > span {
font-weight: bold;
}

.bid-btn {
    background-color: #0053a0;
    border: 1px solid #0053a0;
    color: white;
    width: 200px;
    height: 40px;
    /* margin: 0 31%; */
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
}

.bid-btn:hover {
    background: rgb(89, 32, 221);
    cursor: pointer;
}