.account-container {
    height: 520px;
    /* border: 1px solid black; */
}

.account-text {
    height: 400 px;
    width: 50%;
    margin: auto;
    text-align: start;
    position: relative;
    top: 20%;
    left: 14%;
    align-items: center;
}

.purchase-container {
    height: 500px; 
}

.auction-container {
    height: 500px; 
}