.navbar {
    background-color: rgb(110, 226, 160);
    height: 50px;
    display:flex;
    justify-content: space-around;
    align-content: center;
}

.nav-link {
    text-decoration: none;
    align-self: center;
    color: rgb(112, 16, 201);
    padding: 12px;
    width: 100px;
    font-weight:bolder;
}

.home-icon {
    width: 20px;
    height: auto;
    padding: 0;
}

.footer-container {
    height: 100px;
    /* border: 1px solid; */
    background-color: rgb(110, 226, 160);
}

.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 500px;
    position: relative;
    top: 15%;
    left: 5%;
    /* border: 1px solid; */
}

.footer-text{
    /* color: whitesmoke; */
    position: relative;
    bottom: 10%;
    left: 70%;
    font-size: 0.8em;
    width: 500px;
}

.footer-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.footer-icon:hover {
    cursor:pointer;
}

#fb-icon{
    background: white;
}

#insta-icon{
    background: white;
}

#github-icon{
    background: white;
}